USE [Asset_Tracking]
GO
/****** Object:  View [dbo].[v_Asset_Temp_Header_Detail]    Script Date: 6/28/2017 11:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[v_Asset_Temp_Header_Detail]
AS
	with asset_temp_hdr as (
		select 
			hdr.ID as Header_ID,
			hdr.Name as Group_Name,
			hdr.Description as Group_Description,
			site.Name as Site_Description,
			site.Code as Site_Code,
			case when hdr.Has_Submit = 1 then 'Yes' else 'No' end as Has_Submit
		from Asset_Temp_Header hdr with (nolock)
		inner join CT_Site site with (nolock)
			on site.id = hdr.Asset_Site_ID
	),

	asset_temp_det as (
		select
			det.ID as Detail_ID,
			det.Asset_Temp_Header_ID as Header_ID,
			b.ID as Bin_ID,
			b.Number as Bin_Number,
			at.Name as Asset_Type_Name,
			cond.Name as Asset_Condition_Name,
			disp.Name as Asset_Disposition_Name,
			case when det.Is_Leased = 1 then 'Yes' else 'No' end as Is_Leased,
			det.Serial_Number,
			det.Tag_ID,
			det.Date_Added,
			det.Date_Purchased,
			dbo.FormatDateTime(det.Date_Purchased,'MM/DD/YYYY') as Date_Purchased_Formatted,
			det.Leased_Term_Days,
			det.Warranty_Term_Days
		from Asset_Temp_Detail det with (nolock)
		inner join CT_Asset_Type at with (nolock)
			on at.ID = det.Asset_Type_ID
		inner join CT_Asset_Condition cond with (nolock)
			on cond.ID = det.Asset_Condition_ID
		inner join CT_Asset_Disposition disp with (nolock)
			on disp.ID = det.Asset_Disposition_ID
		left join Bin b with (nolock)
			on b.ID = det.Bin_ID
	)

	select 
		h.Group_Name,
		h.Group_Description,
		h.Site_Description,
		h.Site_Code,
		h.Has_Submit,
		d.*
	from asset_temp_hdr h with (nolock)
	left join asset_temp_det d with (nolock)
		on d.Header_ID = h.Header_ID











GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "h"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 225
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "d"
            Begin Extent = 
               Top = 6
               Left = 263
               Bottom = 136
               Right = 465
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Asset_Temp_Header_Detail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Asset_Temp_Header_Detail'
GO
