/*** === App specific CSS === ***/

.nounderline{text-decoration: none}

.invalid
{
	color:red;
	border: none;
	text-decoration:none;
	
}

.invalidcontrol
{
	background-color:pink;
}

.spaced td { padding-right: 20px; }

/*** Add Asset Page ***/
.add-asset-leased {
	height: 45px;
}
.add-asset-leased .placeholder {
	width: 100% !important;
}

/*** Ajax AutocompleteExtender ***/
.search-autocomplete
{
	background: #fff;
	border: none;
	border-top: none;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	max-height: 200px;
	margin: 0;
	overflow-y: auto;
	padding: 5px;
	width: 40vw !important;
	z-index: 1000;
}
.search-autocomplete li
{
	list-style-type: none;
	line-height: 25px;
}

@media screen and (max-width: 767px) {
	.search-autocomplete {
		width: 70vw !important;
	}
}

/*** Buttons ***/
.btn-align-top { vertical-align: top; }

/*** Custom Controls ***/
#modalAddNewAttachment {
    top:30%;
    right:-40px;
    outline: none;
}

#popupConfirmSaveCheckIn {
    top:30%;
    right:-40px;
    outline: none;
}

#cph_Body_ddlSite_iconLockSite
{
	position: absolute;
	right: -15px;
	top: 10px;
}
.form-group { position: relative; }


/*** Form Controls ***/
.header_select-all
{
	line-height: 60px;
	margin: 0 20px 0 10px;
}
.header_select-all input
{
	position: relative;
	top: 2px;
}
.header_select-all label
{
	color: #fff;
	font-weight: normal;
	margin: 0 0 0 10px;
}
.radio, .checkbox { margin-left: 20px; }
.checkbox { min-height: 46px; }

#cph_Body_txtStudentLookup_acxStudentLookup_completionListElem
{
	white-space: nowrap;
}

/*** Headings ***/
#cph_Body_divAssetInfo h3, #cph_Body_divBinInfoViewAssignAssets h3 { margin-top: 0; }


/*** Labels ***/
#cph_Body_lblSelected
{
	margin-right: 5px;
}
.material-icons { cursor: default; text-decoration: none !important; }
a.material-icons { cursor: pointer; }


/*** Links ***/
a.aspNetDisabled
{
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
}
.link-default { color: #ff4081; }
.link-default:hover { color: #f50057; }


/*** Multi-select ***/
.Default
{
	font-size: smaller;
	font-family: Tahoma; 
}

.DropDownLook
{
	padding: 0;
	border-style: solid;
	border-width: 1px;
}

.DivClose
{
	display: none;
	position: absolute;
	width: 250px;
	height: 220px;
	background-color: #99A479;
	border: 1px solid gray;
}

.LabelClose
{
	vertical-align: text-top; 
	position: absolute;
	bottom: 0;
	font-family: Verdana;
}

.DivCheckBoxList
{
	display: none;
	background-color: White;
	width: 250px;
	position: absolute;
	height: 200px;
	overflow-y: auto; 
	overflow-x: hidden;
	border: 1px solid gray;
}

.CheckBoxList
{
	position: relative;
	width: 250px;
	height: 10px; 
	overflow: scroll;
	font-size: small;
}

.multiselect
{
	background: #fff;
	border: 1px solid #dce4ec;
	color: #0d47a1 !important;
	cursor: default;
}
.multiselect-container li
{
	height: 30px;
}
.multiselect-container a
{
	height: 30px !important;
}

/*** Navbar ***/
.navbar-table
{
	background-color: #1976d2;
	border-radius: 4px 4px 0 0;
	display: table;
	width: 100%;
}


/*** Homepage Nav ***/
.nav-homepage .btn { height: 100px; line-height: 65px; }
.nav-homepage a { margin-bottom: 20px; }


/*** Panels ***/
.panel-student-info .panel-body { background: #E3F2FD; padding: 0; }
.panel-student-info img { border-radius: 4px 0 0 4px; }
.panel-student-info .row div:first-child { padding: 0 0 0 15px; }
.panel-student-info .row div:last-child { line-height: 21px; padding: 5px 15px; }
.panel-custom-warning {
    border-color: #f39c12;
}

#cph_Body_divStudentCheckIn.row { margin-right: 0; }
#cph_Body_divStudentCheckIn .well { padding-top: 0; }

/*** Popover ***/
.invalid .popover-content
{
	color: #e74c3c;
}


/*** Tables ***/

.pagination { display: table-row; }

.table td .btn-xs
{
	line-height: 16px;
}

.table-valign-middle td
{
	vertical-align: middle !important;
}

.table-asset-details td:nth-child(2)
{
	border-bottom: 1px solid #90caf9;
}

.well .table
{
	margin-bottom: 0;
}


/*** User Info ***/
.user-info
{
	color: #e3f2fd;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 10px;
	z-index: 9998;
}
.user-info a
{
	color: #e3f2fd;
}

.navbar .form-control
{
	background-color: #1565C0;
	border-color: #1565C0;
	color: #E3F2FD;
	height: auto;
	margin: 20px 10px 0 0;
	padding: 0;
	width: auto;
}
.navbar .form-control option
{
	background-color: #fff;
	color: #0d47a1;
}
.divWaiting{
	position: fixed;
	background-color: #FAFAFA;
	z-index: 2147483647 !important;
	opacity: 0.8;
	overflow: hidden;
	text-align: center;
	height: 100%;
	width: 100%;
	padding-top:20%;
	left: 0;
	top: 0;
} 

.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
    overflow-x: auto;
}

/*** Placehlder min ***/

.placeholder-min {
	font-size: 12px !important;
	margin-top: -9px;
}

.form-control[type="text"] {
	padding: 17px 15px 0 !important;
}

fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 20px;
    font-weight:400;
}